<h2 class="text-center">Tareas para el 18 de septiembre</h2>
<div class="row">
  <% @tasks.each_slice(3) do |slice| %>
    <% slice.each do |task| %>
      <% tu = TasksUsers.find_by(user_id: current_user.id, task_id: task.id) %>
      <% if tu.nil? || (tu.nil? == false && tu.completed == false) %>
        <div class='col-md-4 mt-5'>
          <div class='card text-white border-primary'>
            <div class="card-header">
              <%= task.title %>
            </div>
            <%= image_tag(task.photo, height: '300', width: '200', class:'card-img-top') %>
            <div class='body text-center'>
              <%= task.description %>
            </div>
            <%= link_to 'Show', task, class: 'btn btn-info' %>
            <% if tu.nil? %>
              <%= link_to 'Completed', task_task_user_index_path(task), class: 'btn btn-success', method: :post  %>
            <% else %>
              <%= link_to 'Completed', task_task_user_path(task, tu), class: 'btn btn-success', method: :patch  %>
            <% end %>
          </div>
        </div>
        <% elsif tu.nil? == false && tu.completed = true %>
          <div class='col-md-4 mt-5'>
          <div class='card text-white border-primary'>
            <div class="card-header">
              <%= task.title %>
            </div>
            <%= image_tag(task.photo, height: '300', width: '200', class:'card-img-top') %>
            <div class='body text-center'>
              <%= task.description %>
            </div>
            <%= link_to 'Show', task, class: 'btn btn-info' %>
            <%= link_to 'Uncompleted', task_task_user_path(task, tu), class: 'btn btn-danger', method: :patch  %>
          </div>
        </div>

        <% end %>
    <% end %>
  <% end %>
</div>

