<h1>Tasks</h1>
  <div class="row">
    <% @tasks.each_slice(3) do |slice| %>
      <% slice.each do |task| %>
          <div class='col-md-4 mt-5'>
            <div class='card text-white border-primary'>
              <%= image_tag task.photo, class:'card-img-top' %>
              <div class='body text-center'>
                <%= task.title %>
                <%= task.description %>
              </div>
              <%= link_to 'Show', task %>
              <%
=begin
 <%= link_to 'Edit', edit_task_path(task) %>
 <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %> 
<%
=end%>
            </div>
          </div>
      <% end %>
      <div class='div w-100'></div>
    <% end %>
  </div>

<br>

<%= link_to 'New Task', new_task_path %>
